.list-template{
    display: none
}


.input-task-list-title{
    margin-left: 10px;
}

.task{
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 100%;
}


.todo-lists-holder{
    float:none;
    margin: 0 auto;
}


.task-list{
    float:none;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    padding-top: 1px;
    border: 2px solid;
    max-width: 70%;
}

.inp-assignees-login{
    border-radius: 5px;
}

.text-for-new-task{
    border-radius: 5px;
    min-width: 100%;
    max-width: 100%;
}


.tbn-task-creator{
    width: 100%;
}


.task-text{
    text-align: center;
    resize: vertical;
    word-wrap: break-word;
    min-width: 95%;
    max-width: 95%;
}

.lbl-wrong-input-identifier{
    color: red;
}


.btn-toolbar{
    margin:0px auto;
}

.task-btn{
    width: 20%;
}

.task-meta-data{
    overflow: hidden;
}

.lbl-text{
    word-wrap: break-word;
}

.spn-other-user{
    margin-left: 5px;
}