
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="Cache-Control" content="no-cache">
        <title>-=To!Do=-</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="resources/index.css"/>
        <script src="resources/js/jquery-2.1.1.js"></script>
    </head>
    <body>

        <div id="todolist1" class="col-md-6"></div>
        <div id="todolist2" class="col-md-6"></div>

        <div class="list-template">
            <div class="task-list panel panel-default panel-success">
                <div class="creator-tab panel-heading">
                    <h5 class="task-creator-title panel-title">My ToDo-List</h5>
                    <textarea class="text-for-new-task" cols="50" rows="3" name="text"
                              placeholder="enter text"></textarea>

                    <label class="assignees-login pull-left">
                        Assignee:
                        <input class="inp-assignees-login" type="text" size="20">
                    </label>

                    <button type="submit" class="tbn-task-creator btn btn-success" disabled>add task</button>
                </div>
                <div class="panel-footer panel-body">
                    <label class="lbl-empty-identifier">Task List is empty.</label>
                    <div class="task-holder center-block"></div>
                </div>
            </div>
        </div>
        <script class="templates" type="text/x-handlebars-template">
            <div class="task" id="{{id}}">
                <textarea class="task-text" cols="50" rows="3" name="text" placeholder="enter text">{{{tasksText
                    }}}</textarea>
                <label class="lbl-text">{{{tasksText}}}</label>
                <div class="task-meta-data">
                    <span class="spn-other-user-association align-right pull-left">{{FromOrTo}}</span>
                    <span class="spn-other-user align-right pull-left">{{creatorsLogin}}</span>
                    <span class="spn-date pull-right">{{dateOfCreation}}</span>
                </div>
                <div class="btn-toolbar">
                    <button type="submit" class="btn-do-undo task-btn btn btn-primary">do</button>
                    <button type="submit" class="btn-delete task-btn btn btn-danger">delete</button>
                    <button type="submit" class="btn-save task-btn btn btn-success">save</button>
                </div>
            </div>
        </script>

        <script data-main="resources/js/main" src="resources/js/require.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>