#login {
    float:none;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    padding-top: 1px;
    border: 2px solid;
    border-radius: 10px;
    max-width: 70%;
    background: darkseagreen;
    background: #80ee90;
}

#bd-login {
    background: #90dd95;
}